<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6k_Ia8B5B3NA8CaIdsVGVxCK87WE-QQU</string>
	<key>GCM_SENDER_ID</key>
	<string>520349749326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.planefy.tranner.app</string>
	<key>PROJECT_ID</key>
	<string>planefyair</string>
	<key>STORAGE_BUCKET</key>
	<string>planefyair.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520349749326:ios:c0bb9b9c6c63f97460f31f</string>
</dict>
</plist>